<div class="wrapper">
  <div class="container">
    <h1 id="tableLabel">Available Plots</h1>

    <p>List of Available Plots.</p>

    <p *ngIf="!addresses"><em>Loading...</em></p>
    <div *ngFor="let address of addresses">
      <div class="row">
        <ul class="address column">
          <li>
            <h5>Address:</h5>
            {{ address.addressLine1 }}
          </li>
          <li>city: {{ address.city }}</li>
          <li>state: {{ address.state }}, {{ address.country }}</li>
        </ul>
        <button (click)="requestEmail(address)">Request Quote</button>
      </div>
    </div>
  </div>
</div>
