
  <header id="header" class="header header-fixed">
    <div class="header-inner">
        <!-- Navbar Starts -->
        <nav class="navbar navbar-expand-lg p-0" id="singlepage-nav">
  <!-- Logo Starts -->
            <div class="logo">
                <a data-toggle="collapse" data-target=".navbar-collapse.show" class="navbar-brand link-menu scroll-to-target" href="#mainslider">
                    <!-- Logo White Starts -->
                    <img id="logo-light" class="logo-light" src="assets/img/logo-shinvitha.svg" alt="logo-light" />
                    <!-- Logo White Ends -->
                    <!-- Logo Black Starts -->
                    <img id="logo-dark" class="logo-dark" src="assets/img/logo-shinvitha.svg" alt="logo-dark" />
                    <!-- Logo Black Ends -->
                </a>
            </div>
  <!-- Logo Ends -->
  <!-- Hamburger Icon Starts -->
            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="icon-toggler">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
  <!-- Hamburger Icon Ends -->
  <!-- Navigation Menu Starts -->
            <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">
                <ul class="nav-menu-inner ml-auto">
                    <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" [routerLink]="['/']">home</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#about">about</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu"  href="#portfolio">portfolio</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu"  href="#contact">contact</a></li>
                    <!-- <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" [routerLink]="['/fetch-data']">Plots</a></li> -->
                </ul>
        <app-login-menu></app-login-menu>

            </div>
  <!-- Navigation Menu Ends -->
        </nav>
        <!-- Navbar Ends -->
    </div>
</header>
<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DotnetAngular</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header> -->
